@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family-base;
  background: #f9f9f9;
  color: #666;
}

.PropertyGridItemImage {
  width: 100%;
  height: 15rem;
}

.slick-prev,
.slick-next {
  transform: scaleY(200%) translate(0, -50%) !important;
}

.slick-prev::before,
.slick-next::before {
  font-family: sans-serif !important;
  opacity: 1 !important;
  color: black !important;
  transform: scale(200%) translate(0, -50%) !important;
}

.slick-prev::before {
  content: "<" !important;
}
.slick-next::before {
  content: ">" !important;
}
